<?xml version="1.0"?>
<robot name="myfirst">
	<link name="base_link">
	    <visual>
	      <geometry>
	        <cylinder length="0.46798994974874375" radius="0.5"/>
	      </geometry>
	      <material name="blue">
	        <color rgba="0 0 .8 1"/>
	      </material>
	    </visual>
	    <collision>
	      <geometry>
	        <cylinder length="0.46798994974874375" radius="0.5"/>
	      </geometry>
	    </collision>
	    <inertial>
        	    <mass value="0.36755844702112744"/>
        	    <inertia ixx="0.029680791580673906" ixy="0.0" ixz="0.0" iyy="0.029680791580673906" iyz="0.0" izz="0.04594480587764093"/>
	    </inertial>
	</link>
</robot>
