<?xml version="1.0"?>
<robot name="myfirst">
	<link name="base_link">
	    <visual>
	      <geometry>
	        <cylinder length="0.4295180722891566" radius="0.5"/>
	      </geometry>
	      <material name="blue">
	        <color rgba="0 0 .8 1"/>
	      </material>
	    </visual>
	    <collision>
	      <geometry>
	        <cylinder length="0.4295180722891566" radius="0.5"/>
	      </geometry>
	    </collision>
	    <inertial>
        	    <mass value="0.33734270512191605"/>
        	    <inertia ixx="0.026270163253483428" ixy="0.0" ixz="0.0" iyy="0.026270163253483428" iyz="0.0" izz="0.04216783814023951"/>
	    </inertial>
	</link>
</robot>
