<?xml version="1.0"?>
<robot name="myfirst">
	<link name="base_link">
	    <visual>
	      <geometry>
	        <cylinder length="0.47897153362801237" radius="0.5"/>
	      </geometry>
	      <material name="blue">
	        <color rgba="0 0 .8 1"/>
	      </material>
	    </visual>
	    <collision>
	      <geometry>
	        <cylinder length="0.47897153362801237" radius="0.5"/>
	      </geometry>
	    </collision>
	    <inertial>
        	    <mass value="0.37618336283110004"/>
        	    <inertia ixx="0.030703262547010047" ixy="0.0" ixz="0.0" iyy="0.030703262547010047" iyz="0.0" izz="0.047022920353887505"/>
	    </inertial>
	</link>
</robot>
